[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bartCause"]
	path = bartCause
	url = https://github.com/vdorie/bartcause
	shallow = true
	registered = true
[submodule "blme"]
	path = blme
	url = https://github.com/vdorie/blme
	shallow = true
	registered = true
[submodule "dbarts"]
	path = dbarts
	url = https://github.com/vdorie/dbarts
	shallow = true
	registered = true
[submodule "stan4bart"]
	path = stan4bart
	url = https://github.com/vdorie/stan4bart
	shallow = true
	registered = true
